<h1>Listing tasks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Priority</th>
      <th>Due</th>
      <th>Estimate</th>
      <th>Use</th>
      <th>Order</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="tasks">
    <%= render @tasks %>
  </tbody>
</table>

<br />

<%= render 'create' %>

<%= link_to 'New Task', new_task_path %>
