// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
	max-width: 970px !important;
}
.login-screen{
	min-height: 473px !important;
}
.login{
	margin-left: auto;
	margin-right: auto;
}